<h1>Listing Applications</h1><hr>
 
<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Question 1</th>
    <th>Question 2</th>
    <th>Question 3</th>
  </tr>
 
  <% @application.each do |application| %>
    <tr>
      <td><%= application.name %></td>
      <td><%= application.email %></td>
      <td><%= application.answer1 %></td>
      <td><%= application.answer2 %></td>
      <td><%= application.answer3 %></td>
      <td><%= link_to 'Show', job_application_path(application) %></td>
      <td><%= link_to 'Edit', edit_job_application_path(application) %></td>
      <td><%= link_to 'Destroy', job_application_path(application), method: 'delete', data: { confirm: 'Are you sure you wish to delete this application?' } %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Home', controller: 'welcome' %>
